nav.navbar
    .navbar-column
        img(src="https://jin-blog.s3.ap-northeast-2.amazonaws.com/image/favicon2.png").favicon
    .navbar-column
        ul
            li
                a(href=routes.home) HOME
            li 
                a(href=routes.category) CATEGORY 
            li
                a(href=routes.about) ABOUT 
            li
                a(href=routes.contact) CONTACT
    .navbar-column
        a(href=`${routes.post}${routes.write}`)
            i.fas.fa-edit
        a(href=routes.settings)
            i.fas.fa-cog
        a(href=routes.search)
            i.fas.fa-search
