nav.navbar
    .navbar-column
        i.fab.fa-github-alt
    .navbar-column
        ul
            li
                a(href=routes.home) HOME
            li 
                a(href=routes.category) CATEGORY 
            li
                a(href=routes.about) ABOUT 
            li
                a(href=routes.contact) CONTACT
    .navbar-column
        a(href=`${routes.post}${routes.write}`)
            i.fas.fa-edit
        a(href=routes.settings)
            i.fas.fa-cog
        a(href=routes.search)
            i.fas.fa-search
